.search-form {
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.load-more-container {
  display: flex;
  justify-content: center;
}

.is-hidden {
  display: none;
}
